<%= form_for(@apn_notification) do |f| %>
  <% if @apn_notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apn_notification.errors.count, "error") %> prohibited this apn_notification from being saved:</h2>

      <ul>
      <% @apn_notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :device_id %>
    <div class="input">
      <%= f.collection_select(:device_id, APN::Device.all, :id, :token) %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :sound %>
    <div class="input">
      <%= f.text_field :sound %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :alert %>
    <div class="input">
      <%= f.text_field :alert %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :badge %>
    <div class="input">
      <%= f.text_field :badge %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn primary" %>
    <% unless @apn_notification.new_record? %><%= link_to 'Show', @apn_notification, class: "btn info" %><% end %>
    <%= link_to 'Back', apn_notifications_path %>
  </div>
<% end %>
