<% if notice %><div class="alert-message success"><p><%= notice %></p></div><% end %>

<p>
  <b>Device:</b>
  <%= link_to @apn_notification.device.token, @apn_notification.device %>
</p>

<p>
  <b>Errors nb:</b>
  <%= @apn_notification.errors_nb %>
</p>

<p>
  <b>Device language:</b>
  <%= @apn_notification.device_language %>
</p>

<p>
  <b>Sound:</b>
  <%= @apn_notification.sound %>
</p>

<p>
  <b>Alert:</b>
  <%= @apn_notification.alert %>
</p>

<p>
  <b>Badge:</b>
  <%= @apn_notification.badge %>
</p>

<p>
  <b>Custom properties:</b>
  <%= @apn_notification.custom_properties %>
</p>

<p>
  <b>Sent at:</b>
  <%= @apn_notification.sent_at %>
</p>

<p>
  <b>Created at:</b>
  <%= @apn_notification.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @apn_notification.updated_at %>
</p>


<%= link_to 'Edit', edit_apn_notification_path(@apn_notification), class: :btn %>
<%= link_to 'Back', apn_notifications_path %>
